@import url('https://fonts.googleapis.com/css?family=Work+Sans:500,600');
font-family: 'Work Sans', sans-serif;

 body{
	max-width: 100vw;
	overflow: hidden;
	margin:0;
	padding:0;
}

@media only screen and (max-width: 600px) {
	#app-wrapper{
		position: relative;
		margin: -8px 0 0 -8px;
		width:100vw;
		height:100vh;
		padding-top: 1px;
		overflow: hidden;
	}
}

@media only screen and (min-width: 600px) {
	#app-wrapper{
		position: relative;
		margin: 40px auto;
		width:320px;
		height:568px;
		padding-top: 1px;
		border:1px solid black;
		overflow: hidden;
	}
}


h1{
	font-family: "Work Sans";
	font-size: 32px;
	font-weight: 500;
	text-align: center;
	margin:0;
}

p{
	font-family: "Work Sans";
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}

#block{
  width: auto;
  margin: 15px;
  border-radius: 5px;
  border: 1px solid black;

}

input{
  position: relative;
  width: 70%;
  height: 20px;
  margin: 8px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#plus{
  position: relative;
  width: 100%;
  text-align: center;
}

#plus p{
  font-size: 30px;
}

.remove{
  position: relative;
  float: right;
  width: 15px;
  height: 15px;
  background-image: url("../assets/x.png");
  background-size: cover;
  opacity: 0.1;
  top:28px;
  right:18px;
}

.header{
	position: absolute;
	top: 8%;
  z-index: 3;
  width: 90%;
  padding: 5%;
}

#footer{
	position: absolute;
	height:20px;
  bottom: 60px;
  width: 100%;
}

#submit{
  position: relative;
  margin: 15px;
  padding: 1px 0px;
  width: auto;
  background-color: black;
  border-radius: 5px;
  color: white;
  text-align: center;
}


.hidden{
	display: none;
}
