@import url('https://fonts.googleapis.com/css?family=Work+Sans:500,600');
font-family: 'Work Sans', sans-serif;

 body{
	max-width: 100vw;
	overflow: hidden;
	margin:0;
	padding:0;
}

@media only screen and (max-width: 600px) {
	#app-wrapper{
		position: relative;
		margin: -8px 0 0 -8px;
		width:100vw;
		height:100vh;
		padding-top: 1px;
		overflow: hidden;
	}
}

@media only screen and (min-width: 600px) {
	#app-wrapper{
		position: relative;
		margin: 40px auto;
		width:320px;
		height:568px;
		padding-top: 1px;
		border:1px solid black;
		overflow: hidden;
	}
}

h1{
  font-family: "Work Sans";
  font-size: 20px;
  padding: 10px 15px 0px 15px;
  margin: 0px;
}

p{
	font-family: "Work Sans";
	font-size: 11px;
	font-weight: 600;
  margin: 0px;
  color: #D0D0D0;
}

.block{
  width: auto;
  margin: 0 15px 15px 15px;
  padding: 10px 12px 5px 12px;
  border-radius: 8px;
  border: 3px solid black;
  overflow: hidden;
}

.text-input{
  position: relative;
  width: 100%;
  border: none;
  font-family: "Work Sans";
	font-size: 20px;
	font-weight: 700;
  margin: 0px;
  padding: 0px;
  resize: none;
}

.line{
  position: relative;
  width: 150%;
  left: -15px;
  margin: 10px 0px;
  background-color: #DFDFDF;
  height: 2px;
}

#header{
  position: relative;
  margin: 15px;
}

#inner-scrool{
  max-height: 80%;
  overflow: scroll;
}

#settings{
  position: absolute;
  width: 100%;
  height: 0%;
  bottom: 0px;
  background-color: white;
}

#close-setting{
  position: relative;
  width:16px;
  height:16px;
  float: right;
}

#settings-icon{
  position: relative;
  height: 20px;
  right: 0px;
  top: -3px;
  float: right;
}

#close-icon{
  position: absolute;
  width:13px;
  height:13px;
  right: 30px;
  float: right;
  opacity: 0.1;
}

#plus-icon{
  position: relative;
  width: 21px;
  margin: 0 auto;
  padding-bottom: 50px;
}

#footer{
	position: absolute;
	height:20px;
  bottom: 65px;
  width: 100%;
  background-color: white;
}

#submit{
  position: relative;
  margin: 15px;
  padding: 15px 0px;
  width: 160px;
  background-color: black;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-family: "Work Sans";
	font-size: 18px;
	font-weight: 600;
  margin-left: auto;
  margin-right: auto;
}


.hidden{
	display: none;
}
