@import url('https://fonts.googleapis.com/css?family=Work+Sans:500,600');
font-family: 'Work Sans', sans-serif;

 body{
	max-width: 100vw;
	overflow: hidden;
	margin:0;
	padding:0;
}

@media only screen and (max-width: 600px) {
	.app-wrapper{
		position: relative;
		margin: -8px 0 0 -8px;
		width:100vw;
		height:100vh;
		padding-top: 1px;
		overflow: hidden;
	}
}

@media only screen and (min-width: 600px) {
	.app-wrapper{
		position: relative;
		margin: 40px auto;
		width:320px;
		height:568px;
		padding-top: 1px;
		border:1px solid black;
		overflow: hidden;
	}
}


h1{
	font-family: "Work Sans";
	font-size: 32px;
	font-weight: 500;
	text-align: center;
	margin:0;
}

p{
	font-family: "Work Sans";
	font-size: 16px;
	font-weight: 600;
	text-align: center;
}

.header{
	position: absolute;
	top: 8%;
    z-index: 3;
    width: 90%;
    padding: 5%;
}
.footer{
	position: absolute;
	height:15%;
}

.visualization{
	position: absolute;
	height:100%;
	width: 100%;
	margin: 0;
}

.visualization p{
	position: absolute;
    width: 150px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -20px;
}

.menu{
	background-color: white;
	position: absolute;
	height: 80%;
	width: 100%;
	top:80%;
}

.menu p{
	line-height: 64px;
	margin-top: 0px;

}

.menu p:hover{
	color:grey;
}

.menu .menu-icon{
	margin:15% auto 15% auto;
	height: 8px;
	width: 40px;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
}
.hidden{
	display: none;
}
