body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff;
  padding: 0px;
  margin: 0px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display:block;
}
p{
  margin-top: 0px;
  margin-bottom: 5px;
}
.t{ /*type */
  color: #FCC65C;
}
.g{ /* gray type */
  color: #5A5964;
}
#canvas{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin-top: 30px;
  display:block;
}
#wrapper{
  position: absolute;
  margin: 0 auto 0 auto;
  width: 92%;
  height: 70%;
  padding: 4%;
}
#footer{
  position: absolute;
  width: 92%;
  bottom: 0px;
  padding: 4%;
}
#train{
  position: relative;
  margin: 0 auto 0 auto;
  width: 100px;
  height: 100px;
  background-color: #5A5964;
  border-radius: 50px;
}
#reset{
  position: relative;
  width: 33%;
  float: left;
}
#info{
  position: relative;
  width: 33%;
  float: left;
  text-align: center;
}
#noise{
  position: relative;
  width: 33%;
  float: left;
  text-align: right;
}
