body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #2D2F3C;
  padding: 0px;
  margin: 0px;
}
p{
  margin-top: 0px;
  margin-bottom: 5px;
}
.t{ /*type */
  color: #FCC65C;
}
.g{ /* gray type */
  color: #5A5964;
}
#canvas{
  width: 100%;
  height: 300px;
  background-color: #fff;
  margin: 50px 0 50px 0;
}
#wrapper{
  position: relative;
  margin: 0 auto 0 auto;
  width: 92%;
  padding: 4%;
}
#footer{
  position: absolute;
  width: 92%;
  bottom: 0px;
  padding: 4%;
}
#train{
  position: relative;
  margin: 0 auto 0 auto;
  width: 100px;
  height: 100px;
  background-color: #5A5964;
  border-radius: 50px;
}
#reset{
  position: relative;
  width: 33%;
  float: left;
}
#info{
  position: relative;
  width: 33%;
  float: left;
  text-align: center;
}
#noise{
  position: relative;
  width: 33%;
  float: left;
  text-align: right;
}
