<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
    <script type="text/javascript" charset="utf-8">

    $(document).ready(function(){
      var socket = io.connect('http://' + document.domain + ':' + location.port + '/socket');

      socket.on('response', function(msg) {
          console.log(msg);
      });

      $( "#class0" ).click(function() {
        socket.emit('msgEvent', {data: 'class0'});
      });

      $( "#class1" ).click(function() {
        socket.emit('msgEvent', {data: 'class1'});
      });

      $( "#train" ).click(function() {
        socket.emit('msgEvent', {data: 'train'});
      });
    });

    </script>
</head>
<body>
  <div id="class0">add class 0</div>
  <br>
  <div id="class1">add class 1</div>
  <br>
  <div id="train">train</div>
</body>
</html>
