<!DOCTYPE html>
<html lang="">
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="../static/style/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>PROJECT ALIAS</title>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/socket.io.js"></script>
  </head>

  <body oncontextmenu="false" onload="requestSettings()">
    <div id="app-wrapper">
      <div id="blocks"></div>

      <div id="plus" onclick="addBlock()"><p>+</p></div>
      <div id="footer" onclick="updateSettings()">
        <div id="submit"><p>update Alias</p></div>
      </div>

    </div>
  </body>

  <!-- Javascript -->
  <script type="text/javascript" charset="utf-8">
    //////////////////////////////////////////////////////////////////////////////////////////
    // GEt data form Raspberry
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/socket');
    var currentSettings;

    // get message from pi
    socket.on('response', function(msg) {
      console.log(msg);
      currentSettings = msg;
      clearBlocks();
      updateBlocks(msg);
    });

    // ask pi for settings on startup
    function requestSettings(){
      socket.emit('msgEvent',{data:"request"});
    }

    // copy the current block values and update settings on pi
    function updateSettings(){
      var blocks = document.getElementById('blocks');
      var setting = [];
      for(var i=0; i< blocks.children.length; i++){
        var name = blocks.children[i].getElementsByClassName('name')[0].value;
        var whisper = blocks.children[i].getElementsByClassName('whisper')[0].value;
        setting.push({name,whisper});
      }
      socket.emit('msgEvent',{data:"update", setting: {setting}});
    }

    //prevent scroll on phone
    function preventBehavior(e) {
      e.preventDefault();
    };

    // reset blocks by emptying parent object
    function clearBlocks(){
      document.getElementById('blocks').innerHTML = '';
    }

    // update blocks based on the settings file
    function updateBlocks(obj){
      for(var i=0; i<obj.setting.length; i++){
        var form = document.createElement("div");
        form.setAttribute('class',"form");
        form.setAttribute('id',"block");

        if(i>0){ // dont make on first one
          var remove = document.createElement("div");
          remove.setAttribute('class',"remove");
          remove.setAttribute('onclick',"removeBlock(this)");
          form.appendChild(remove);
        }

        var input = document.createElement("input"); //input element, text
        input.setAttribute('type',"text");
        input.setAttribute('class',"name");
        input.setAttribute('value',obj.setting[i].name);
        form.appendChild(input);

        var whisper = document.createElement("input"); //input element, text
        whisper.setAttribute('type',"text");
        whisper.setAttribute('class',"whisper");
        whisper.setAttribute('value',obj.setting[i].whisper);
        form.appendChild(whisper);

        document.getElementById('blocks').appendChild(form);
      }
    }

    // add a single block
    function addBlock(){
      var form = document.createElement("div");
      form.setAttribute('class',"form");
      form.setAttribute('id',"block");

      var input = document.createElement("input"); //input element, text
      input.setAttribute('type',"text");
      input.setAttribute('class',"name");
      input.setAttribute('value',"Name");
      form.appendChild(input);

      var remove = document.createElement("div");
      remove.setAttribute('class',"remove");
      remove.setAttribute('onclick',"removeBlock(this)");
      form.appendChild(remove);

      var whisper = document.createElement("input"); //input element, text
      whisper.setAttribute('type',"text");
      whisper.setAttribute('class',"whisper");
      whisper.setAttribute('value',"Whisper");
      form.appendChild(whisper);

      document.getElementById('blocks').appendChild(form);
    }

    function removeBlock(event){
      var block = event.parentElement;
      block.remove();
    }

    document.addEventListener("touchmove", preventBehavior, {passive: false});
  </script>
</html>
